.mainPanel{
    background-color: rgba(99, 87, 87, 0.5);  
    font-size: 12rem;
    font-family: "Arial", sans-serif;
    padding: 10rem;
    border-radius: 2rem;
    max-height: 680rem;
    width: 300rem;
    position: absolute;
    left: 30rem;
    top: 70rem;
}

.scrollablePanel{
    background-color: rgba(120, 87, 87, 0.5);  
    font-size: 12rem;
    font-family: "Arial", sans-serif;
    padding: 10rem;
    border-radius: 2rem;
    height: 170rem;
}

ul.listedAssets{
    background-color: rgba(156, 148, 148, 0.5);
    font-size: 10rem;
    font-family: "Arial", sans-serif;
    list-style-type: none;
    color: white;
    li {
        &:nth-child(odd) {
        color: #fff;
        }

        &:nth-child(even) {
        color: #ebe9e9;
        }
    }
}
